@charset "utf-8";

html, body{
    height: 100vh;
    width: 100vw;

    background-image: url(starrysky.jpg);
}

.layerpull{
    position: absolute;
    z-index: 99;

    height: 100vh;
    width: 20vw;
    top: 3.5vh;
    left: 3.5vw;

    padding: 50px;

    background-color: #ffffff22;
    color: #333333;
}

